<div class="flex justify-between items-center">
  <h1 class="font-medium text-2xl text-neutral-700">
    <%= image_tag "//ssl.gstatic.com/calendar/images/dynamiclogo_2020q4/calendar_#{Time.zone.now.day}_2x.png", class: "w-10 h-10 inline-block" %>
    Calendar
  </h1>
  <%= link_to 'New event', new_event_path, data: { turbo_frame: 'popup' }, class: "rounded-lg py-3 px-5 mt-2 mr-2 bg-blue-600 text-white block font-medium" %>
</div>

<hr class="mt-2 mb-2">

<div data-controller="calendar">
  <div data-calendar-target="window"></div>

  <turbo-frame id="popup" data-calendar-target="popup" data-action="turbo:submit-end->calendar#refresh"></turbo-frame>
</div>
